@charset "UTF-8";
/* =============================================
 *	Responsive Settings
 * ============================================= */
/* =============================================
 *	Design Variables
 * ============================================= */
/* =============================================
 *	Reset
 * ============================================= */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::selection {
  background-color: #ededef;
  text-shadow: none; }

::-webkit-input-placeholder {
  color: #6c71bc; }

/* Form Settings */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #6c71bc; }

::-moz-placeholder {
  color: #6c71bc; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #6c71bc; }

.hidden {
  display: none !important; }

.invisible {
  visibility: hidden; }

.clearfix {
  /* 2 */ }
  .clearfix:before {
    content: " ";
    /* 1 */
    display: table; }
  .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
    clear: both; }

/* =============================================
 *	Animations
 * ============================================= */
@keyframes opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* =============================================
 *	Design
 * ============================================= */
@font-face {
  font-family: "Aleo";
  src: url("fonts/Aleo-Bold.eot");
  src: url("fonts/Aleo-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Aleo-Bold.woff2") format("woff2"), url("fonts/Aleo-Bold.woff") format("woff"), url("fonts/Aleo-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html {
  overflow-x: hidden; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #7a7a7a;
  letter-spacing: 0.013em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ededef; }
  @media screen and (min-width: 0) and (max-width: 450px) {
    body {
      font-size: 16px;
      overflow: hidden; } }

a, a:visited {
  color: #2e34a0;
  text-decoration: none; }

/*  ======= MENU ======= */
nav {
  box-sizing: border-box;
  height: 30px;
  z-index: 999999999;
  top: 63px;
  right: 63px;
  left: 63px;
  position: absolute;
  display: flex; }
  @media screen and (max-width: 450px) {
    nav {
      top: 31.5px;
      right: 31.5px;
      left: 31.5px; } }
  nav .menu-image {
    text-align: right;
    flex: 0.99; }
    nav .menu-image img {
      margin: 10px 0 0 55px; }
    @media screen and (min-width: 0) and (max-width: 899px) {
      nav .menu-image {
        text-align: left;
        flex: 1; }
        nav .menu-image img {
          margin-left: -13.5px; } }
    @media screen and (min-width: 451px) and (max-width: 899px) {
      nav .menu-image {
        text-align: center; } }
  nav ul {
    float: right;
    list-style: none;
    margin: 0em auto;
    flex: 0.8; }
    nav ul li {
      display: inline-block;
      line-height: 10px;
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: 600;
      padding: 5px 20px; }
      nav ul li:last-of-type {
        padding-right: 0; }
  @media screen and (min-width: 451px) and (max-width: 899px) {
    nav ul li {
      padding: 5px;
      line-height: 5px;
      font-size: 0.7em; } }
  @media screen and (min-width: 451px) and (max-width: 599px) {
    nav ul {
      width: 70%;
      padding: 0; }
      nav ul li {
        padding: 6px;
        line-height: 2px;
        font-size: 0.55em; } }
  @media screen and (min-width: 0) and (max-width: 899px) {
    nav .menu {
      border: 1px solid black;
      display: none; } }
  @media screen and (min-width: 451px) and (max-width: 899px) {
    nav .menu {
      display: none;
      border: 1px solid black; } }
  nav .menu li a {
    color: white; }

/* Placeholder */
.placeholder {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 999999;
  border: 3px solid black; }

header {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 126px 63px;
  height: 100vh;
  z-index: 999;
  background: #fff;
  top: 0;
  bottom: 0; }
  @media screen and (min-width: 0) and (max-width: 899px) {
    header {
      height: 60vh;
      padding: 83px 51.5px;
      position: relative; } }
  @media screen and (min-width: 600px) and (max-width: 899px) {
    header {
      padding: 93px 73px;
      height: 120vh; } }
  @media screen and (min-width: 451px) and (max-width: 599px) {
    header {
      padding: 93px 93px;
      height: 120vh; } }
  @media screen and (min-width: 900px) and (max-width: 1199px) {
    header {
      padding: 126px 31.5px 94.5px;
      height: 70vh; } }
  header .container {
    margin: 0; }
    header .container::after {
      content: none; }
  header h1 {
    padding-top: 63px;
    font-size: 90px;
    line-height: 85px;
    letter-spacing: 0.024em; }
    @media screen and (max-width: 450px) {
      header h1 {
        font-size: 45px;
        line-height: 50px;
        letter-spacing: 0.002em;
        padding-top: 150px; } }
    @media screen and (min-width: 451px) and (max-width: 899px) {
      header h1 {
        font-size: 50px;
        line-height: 50px;
        letter-spacing: 0.002em;
        padding-top: 200px; } }
    @media screen and (min-width: 600px) {
      header h1 {
        font-size: 70px;
        line-height: 70px; } }
    @media screen and (min-width: 1000px) {
      header h1 {
        font-size: 90px;
        line-height: 85px; } }

@media screen and (min-width: 0) and (max-width: 450px) {
  .menu {
    display: none; } }

.sandwich {
  display: none; }
  .sandwich .icon {
    color: #fff;
    display: inline-block;
    text-align: right;
    position: relative; }
    .sandwich .icon .bar1, .sandwich .icon .bar2, .sandwich .icon .bar3 {
      width: 25px;
      height: 2px;
      background-color: blue;
      margin: 5px 0;
      transition: 0.3s ease-out; }
    .sandwich .icon.opened .bar1 {
      -webkit-transform: rotate(-45deg) translate(-2px, 6px);
      transform: rotate(-45deg) translate(-2px, 6px); }
    .sandwich .icon.opened .bar2 {
      opacity: 0; }
    .sandwich .icon.opened .bar3 {
      -webkit-transform: rotate(45deg) translate(-6px, -9px);
      transform: rotate(45deg) translate(-5px, -9px); }
  @media screen and (min-width: 0) and (max-width: 899px) {
    .sandwich {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 9999999; } }
  @media screen and (min-width: 451px) and (max-width: 899px) {
    .sandwich {
      display: none; } }

/* Container - Main Content */
.container {
  box-sizing: border-box;
  padding: 0 63px 63px;
  position: relative;
  z-index: 9999;
  width: 100%;
  border: 4px solid black;
  background-color: #fff; }
  @media screen and (max-width: 450px) {
    .container {
      padding: 0 31.5px 31.5px; } }

h1, h2 {
  font-language-override: normal;
  font-kerning: auto;
  font-feature-settings: "kern", "liga", "dlig", "hlig", "cswh";
  font-synthesis: weight style;
  font-family: "Aleo", sans-serif;
  font-size: 50px;
  color: #2e34a0;
  letter-spacing: 0.021em;
  line-height: 55px;
  vertical-align: top; }
  @media screen and (max-width: 450px) {
    h1, h2 {
      font-size: 40px;
      line-height: 45px; } }

h2 {
  font-size: 20px;
  line-height: normal; }

/* Section holds every content within main */
section {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 126px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 2px solid #ededef; }
  @media screen and (min-width: 0) and (max-width: 899px) {
    section {
      padding: 63px 0; } }
  @media screen and (min-width: 1000px) {
    section {
      padding: 126px 94.5px; } }
  section:first-of-type {
    padding-top: 157.5px; }
    @media screen and (max-width: 450px) {
      section:first-of-type {
        padding-top: 31.5px; } }
    @media screen and (min-width: 1000px) and (max-width: 1199px) {
      section:first-of-type {
        padding-top: 94.5px; } }
  section:last-of-type {
    border-bottom: 0;
    padding-bottom: 70px; }
  section h1 {
    width: 320px;
    position: relative; }
    @media screen and (min-width: 0) and (max-width: 899px) {
      section h1 {
        width: 100%;
        font-size: 30px;
        line-height: 35px; } }
  section .content {
    flex: 0.95; }
    @media screen and (min-width: 0) and (max-width: 899px) {
      section .content {
        width: 100%;
        margin-top: 31.5px; } }
    @media screen and (max-width: 450px) {
      section .content {
        margin-top: 15.75px; } }
    section .content p {
      margin: 8px 0 0 0; }
      section .content p:nth-child(2) {
        margin: 30px 0 0 0; }

.flex {
  width: 100%;
  margin-top: 63px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  @media screen and (max-width: 450px) {
    .flex {
      margin-top: 31.5px; } }

.clearflex {
  width: 100%;
  margin-top: 63px; }

/* section specialization => First Section - Presentation */
.new-section-1 {
  margin-top: 189px;
  display: flex;
  padding: 0; }
  .new-section-1 h1 {
    width: 80%;
    font-family: "lato-black";
    font-weight: 600;
    margin: 95px 0 0 70px;
    font-size: 44px;
    text-transform: uppercase; }
    @media screen and (min-width: 0) and (max-width: 899px) {
      .new-section-1 h1 {
        margin: 0 auto;
        width: 100%;
        text-align: left;
        font-size: 38px; } }
  .new-section-1 p {
    width: 70%;
    margin: 40px 0 0 70px;
    line-height: 1.65em; }
    @media screen and (min-width: 0) and (max-width: 899px) {
      .new-section-1 p {
        margin: 20px auto;
        width: 100%;
        text-align: left; } }
  .new-section-1:first-of-type {
    padding-top: 0; }
  @media screen and (min-width: 0) and (max-width: 899px) {
    .new-section-1 {
      margin-top: 126px;
      flex-direction: column; } }
  @media screen and (min-width: 451px) and (max-width: 899px) {
    .new-section-1 {
      flex-direction: row;
      margin-top: 189px; } }
  .new-section-1 .container-img {
    height: 460px;
    flex: 1;
    width: 100%;
    position: relative;
    display: flex; }
    @media screen and (min-width: 0) and (max-width: 899px) {
      .new-section-1 .container-img {
        display: none; } }
    .new-section-1 .container-img .img-1 {
      clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
      background-color: #2e34a0;
      height: 320px;
      width: 80%;
      border-radius: 5px;
      margin: 62px 0 0 30px;
      position: relative;
      z-index: -9999; }
    .new-section-1 .container-img .img-2 {
      position: absolute;
      background-color: black;
      height: 325px;
      width: 80%;
      z-index: 1;
      border-radius: 3px;
      top: 130px;
      left: 100px;
      clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%); }
  .new-section-1 .container-text {
    height: 460px;
    flex: 1;
    width: 100%; }
    @media screen and (min-width: 451px) and (max-width: 899px) {
      .new-section-1 .container-text {
        height: auto; } }
    @media screen and (min-width: 0) and (max-width: 899px) {
      .new-section-1 .container-text {
        height: auto; } }

/* section specialization => Second Section - History */
.new-section-2 {
  margin-top: 189px;
  display: flex;
  padding: 0; }
  @media screen and (min-width: 0) and (max-width: 899px) {
    .new-section-2 {
      margin-top: 0; } }
  .new-section-2 h1 {
    width: 80%;
    font-family: "lato-black";
    font-weight: 600;
    margin: 40px 0 0 21px;
    font-size: 40px;
    line-height: 1.15em;
    letter-spacing: -0.03em;
    text-transform: uppercase; }
    @media screen and (min-width: 0) and (max-width: 899px) {
      .new-section-2 h1 {
        margin: 0 auto;
        width: 100%;
        text-align: left;
        font-size: 38px; } }
  .new-section-2 p {
    width: 80%;
    margin: 65px 0 0 22px;
    line-height: 1.35em; }
    @media screen and (min-width: 0) and (max-width: 899px) {
      .new-section-2 p {
        margin: 20px auto;
        width: 100%;
        text-align: left; } }
  .new-section-2:first-of-type {
    padding-top: 0; }
  @media screen and (min-width: 0) and (max-width: 899px) {
    .new-section-2 {
      margin-top: 126px;
      flex-direction: column; } }
  @media screen and (min-width: 451px) and (max-width: 899px) {
    .new-section-2 {
      flex-direction: row;
      margin-top: 189px; } }
  .new-section-2 .container-img {
    height: 460px;
    flex: 1;
    width: 100%;
    position: relative;
    display: flex; }
    @media screen and (min-width: 0) and (max-width: 899px) {
      .new-section-2 .container-img {
        display: none; } }
    .new-section-2 .container-img .img-1 {
      clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
      background-color: #2e34a0;
      height: 290px;
      width: 71%;
      border: 1px solid black;
      border-radius: 5px;
      margin: 42px 0 0 55px;
      position: absolute;
      z-index: -999; }
    .new-section-2 .container-img .img-2 {
      clip-path: polygon(13% 0, 98% 0, 83% 100%, 0% 100%);
      background-color: #888888;
      height: 94px;
      width: 28%;
      top: 92px;
      left: 40px;
      border-radius: 5px;
      position: absolute;
      z-index: 1; }
    .new-section-2 .container-img .img-3 {
      clip-path: polygon(19% 0, 100% 0, 100% 100%, 0% 100%);
      background-color: #888888;
      height: 185px;
      width: 46%;
      top: 229px;
      left: 280px;
      border-radius: 5px;
      position: relative;
      z-index: -99999; }
    .new-section-2 .container-img .img-4 {
      clip-path: polygon(13% 0, 89% 0, 73% 100%, 0 100%);
      background-color: #888888;
      height: 62px;
      width: 19%;
      top: 388px;
      left: 110px;
      border-radius: 5px;
      position: absolute;
      z-index: 2; }
  .new-section-2 .container-text {
    height: 460px;
    flex: 1;
    width: 90%; }
    @media screen and (min-width: 451px) and (max-width: 899px) {
      .new-section-2 .container-text {
        height: auto;
        width: 100%;
        margin-top: 0; } }
    @media screen and (min-width: 0) and (max-width: 899px) {
      .new-section-2 .container-text {
        height: auto;
        width: 100%; } }

/* section specialization => Third Section - Services */
.new-section-3 {
  margin-top: 252px;
  display: flex;
  padding: 0; }
  @media screen and (min-width: 0) and (max-width: 899px) {
    .new-section-3 {
      margin-top: 0; } }
  .new-section-3 h1 {
    text-transform: uppercase;
    margin: 65px 0 0 25px;
    font-size: 37px;
    font-family: "lato-black"; }
    @media screen and (min-width: 0) and (max-width: 899px) {
      .new-section-3 h1 {
        margin: 0 auto;
        width: 100%;
        text-align: left;
        font-size: 38px; } }
  .new-section-3 .content ul {
    list-style: none;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    width: 87%;
    margin: 65px auto;
    border-radius: 5px;
    border: 1px solid #ededef; }
    .new-section-3 .content ul li {
      padding: 10px;
      font-weight: 600;
      font-size: 13px;
      text-transform: uppercase;
      margin-top: 13px; }
  .new-section-3 .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: 1em auto; }
    @media screen and (min-width: 0) and (max-width: 899px) {
      .new-section-3 .flex {
        flex-direction: column; } }
    .new-section-3 .flex article {
      border: 1px solid black;
      width: 30%;
      height: 370px; }
      @media screen and (min-width: 0) and (max-width: 899px) {
        .new-section-3 .flex article {
          width: 100%; } }
    .new-section-3 .flex p {
      width: 100%;
      text-align: right; }

/* section specialization => Third Section  - Specialities */
.new-section-4 {
  display: flex;
  padding: 0;
  margin-top: 6em; }
  @media screen and (min-width: 0) and (max-width: 899px) {
    .new-section-4 {
      margin-top: 0; } }
  .new-section-4 h1 {
    font-family: "lato-black";
    width: 100%;
    text-transform: uppercase;
    font-size: 37px;
    margin: 30px 0 0 28px;
    line-height: 1.29em; }
    @media screen and (min-width: 0) and (max-width: 899px) {
      .new-section-4 h1 {
        width: 100%; } }
  .new-section-4 .flex {
    justify-content: flex-start;
    margin: 0 auto;
    width: 93%; }
    .new-section-4 .flex .box {
      width: 20%;
      box-sizing: border-box;
      text-align: center;
      padding: 0 31.5px;
      margin: 63px auto;
      flex-basis: auto;
      flex-grow: 1; }
      .new-section-4 .flex .box .rounded {
        width: 130px;
        height: 130px;
        margin: 0 auto;
        border: 4px solid black;
        border-radius: 340px; }
      .new-section-4 .flex .box h5 {
        text-transform: uppercase; }
      .new-section-4 .flex .box p {
        margin-top: -20px;
        font-size: 15px; }

/* section specialization => Fourth Section - Contact */
.new-section-5 {
  display: flex;
  padding: 0;
  margin-top: 189px; }
  @media screen and (min-width: 0) and (max-width: 899px) {
    .new-section-5 {
      margin-top: 0; } }
  .new-section-5 h1 {
    margin: 1.5em 0 0 0.7em;
    font-family: "lato-black";
    font-size: 37px;
    text-transform: uppercase; }
  .new-section-5 .content {
    margin-top: 3em;
    width: 100%; }

aside {
  width: 30%;
  float: left;
  box-sizing: border-box; }
  @media screen and (min-width: 0) and (max-width: 899px) {
    aside {
      width: 100%; } }
  aside .select {
    display: none; }
    @media screen and (min-width: 0) and (max-width: 899px) {
      aside .select {
        display: block; } }
  aside .tabs li {
    list-style: none;
    font-feature-settings: "kern", "liga", "dlig", "hlig", "cswh";
    font-synthesis: weight style;
    font-family: "lato-black", sans-serif;
    font-size: 16px;
    color: #2e34a0;
    letter-spacing: 0.021em;
    vertical-align: top;
    position: relative;
    text-transform: uppercase; }
    @media screen and (min-width: 0) and (max-width: 899px) {
      aside .tabs li {
        display: none; } }
    aside .tabs li a {
      padding: 26.25px;
      display: block;
      margin-top: 8px; }
      aside .tabs li a.active::before {
        font-family: "FontAwesome", sans-serif;
        font-size: 25px;
        content: "";
        display: inline-block;
        position: absolute;
        right: 31.5px;
        transform: translate(0, -1px); }
    aside .tabs li::after {
      content: "";
      position: absolute;
      display: inline-block;
      background: -moz-linear-gradient(90deg, #ededef 0%, white 100%);
      background: -webkit-linear-gradient(90deg, #ededef 0%, white 100%);
      background: linear-gradient(90deg, #ededef 0%, white 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ededef",endColorstr="#ffffff",GradientType=1);
      height: 2px;
      width: 100%;
      box-sizing: border-box; }
    aside .tabs li:last-of-type {
      border: 0; }
    aside .tabs li:first-of-type {
      border-top: 0; }

.tab-content {
  width: 70%;
  float: left;
  box-sizing: border-box;
  margin-top: 15px; }
  @media screen and (min-width: 0) and (max-width: 899px) {
    .tab-content {
      width: 100%;
      padding: 0; } }
  .tab-content .form {
    display: none; }
    .tab-content .form.active {
      display: block; }

.accordion-header {
  cursor: pointer;
  border-top: 2px solid #ededef;
  color: #2e34a0;
  font-feature-settings: "kern", "liga", "dlig", "hlig", "cswh";
  font-synthesis: weight style;
  font-family: "Aleo", sans-serif;
  font-size: 20px;
  color: #2e34a0;
  letter-spacing: 0.021em;
  vertical-align: top;
  padding: 26.25px 0 26.25px 0;
  position: relative; }
  .accordion-header:first-of-type {
    border-top: 0; }
  .accordion-header::after {
    font-family: "FontAwesome", sans-serif;
    font-size: 25px;
    content: "";
    display: inline-block;
    position: absolute;
    right: 26.25px;
    transform: translate(0, -1px) rotate(0deg);
    transition: transform 0.3s ease-in-out; }
  .accordion-header.active::after {
    transform: translate(0, -1px) rotate(90deg); }

.accordion-content {
  display: none;
  padding-bottom: 31.5px;
  font-weight: normal; }

select::-ms-expand {
  display: none; }

form {
  width: 100%; }
  @media screen and (min-width: 0) and (max-width: 899px) {
    form .button {
      width: 100%; } }
  form .select {
    position: relative;
    width: auto; }
    form .select .fas {
      position: absolute;
      right: 31.5px;
      top: 19.6875px;
      font-size: 17px !important;
      color: #8085cb; }
  form select {
    padding: 0;
    margin: 0;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative; }
    form select option {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 0;
      margin: 0; }
  form input, form select, form option {
    width: 95%;
    padding: 15.75px 15.75px 15.75px 31.5px;
    border: 1px solid #8085cb;
    border-radius: 6px;
    box-sizing: border-box;
    margin-bottom: 31.5px;
    margin-left: 8px;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
    color: #7a7a7a; }
    form input:active, form input:focus, form select:active, form select:focus, form option:active, form option:focus {
      outline: 0;
      border: 1px solid #2e34a0;
      transform: scale(1.03);
      box-shadow: 0 0 3px #ddd; }
    @media screen and (min-width: 0) and (max-width: 899px) {
      form input, form select, form option {
        border-radius: 6px; } }
  form textarea {
    width: 95%;
    height: 200px;
    border: 1px solid #8085cb;
    text-align: left;
    padding: 21px 31.5px 31.5px;
    border-radius: 6px;
    margin: 20px 0 0 10px;
    box-sizing: border-box;
    margin-bottom: 31.5px;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
    color: #7a7a7a; }
    form textarea:active, form textarea:focus {
      outline: 0;
      border: 1px solid #2e34a0;
      transform: scale(1.03);
      box-shadow: 0 0 3px #ddd; }
  form .flex {
    margin-top: 10px; }
    form .flex input {
      width: 45%; }
      form .flex input:last-child {
        margin-right: 30px; }

.fas, .fab {
  font-size: 12px !important; }
  .fas.left, .fab.left {
    margin-right: 6px;
    top: -2px;
    position: relative;
    display: inline-block; }
  .fas.right, .fab.right {
    margin-left: 6px;
    top: -2px;
    position: relative;
    display: inline-block; }

.button {
  border-radius: 7px;
  box-sizing: border-box;
  padding: 12.6px 31.5px 12.6px;
  width: 95%;
  border: 1px solid #2e34a0;
  color: #2e34a0;
  text-align: center;
  display: inline-block; }
  .button.fill {
    background-color: #2e34a0;
    color: #fff;
    margin: 0 0 0 10px; }
  @media screen and (min-width: 0) and (max-width: 899px) {
    .button {
      border-radius: 6px; } }

/* section specialization */
.new-section {
  outline: 3px solid black; }
  .new-section h1 {
    width: 100%; }
    @media screen and (min-width: 0) and (max-width: 899px) {
      .new-section h1 {
        width: 100%; } }
  .new-section .flex {
    justify-content: flex-start;
    margin: 0; }
  .new-section .box {
    width: 20%;
    box-sizing: border-box;
    text-align: center;
    padding: 0 31.5px;
    margin-top: 63px;
    min-width: 160px;
    flex-basis: auto;
    flex-grow: 1; }
    .new-section .box .rounded {
      width: 100px;
      height: 100px;
      margin: 0 auto 31.5px;
      border: 4px solid black;
      border-radius: 100px; }

article {
  width: calc(50% - 15.75px);
  background-color: #ededef;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 26.5px 26.5px 26.5px 94.5px;
  margin-bottom: 31.5px;
  transition: transform 0.2s ease-in-out, min-width 0.4s ease-in-out, min-height 0.4s ease-in-out, background-color 0.3s ease-in-out, left 0.2s ease-in-out, top 0.4s ease-in-out;
  cursor: pointer; }
  @media screen and (min-width: 0) and (max-width: 899px) {
    article {
      width: 100%; } }
  article p {
    margin: 10px 0 0;
    font-size: 15px; }
  article:hover {
    background-color: #e2e2e4; }
  article .opened {
    position: absolute; }

footer {
  padding: 31.5px;
  background: #ededef;
  box-sizing: border-box;
  width: 100%;
  z-index: 0;
  bottom: 0; }
  footer h4 {
    margin-bottom: 15.75px; }
  footer .flex {
    padding-bottom: 63px;
    text-align: left; }
    @media screen and (min-width: 0) and (max-width: 899px) {
      footer .flex {
        display: flex;
        flex-direction: column; } }
    footer .flex .logo {
      width: 20%;
      margin: 0.5em auto; }
      footer .flex .logo img {
        margin: 1em auto; }
      @media screen and (min-width: 0) and (max-width: 899px) {
        footer .flex .logo {
          width: 100%; } }
    footer .flex .content {
      width: 30%;
      margin: 0.5em auto; }
      footer .flex .content span {
        margin-left: 15px; }
      @media screen and (min-width: 0) and (max-width: 899px) {
        footer .flex .content {
          width: 100%; } }
  footer .ending {
    border-top: #d7d7d8 2px solid;
    padding-top: 31.5px;
    width: 95%;
    margin: 0 auto; }
    @media screen and (min-width: 0) and (max-width: 899px) {
      footer .ending {
        width: 100%; } }

.see-more {
  position: absolute;
  transform: translate3d(-5px, 63px, 35px); }
  @media screen and (min-width: 0) and (max-width: 450px) {
    .see-more {
      transform: translate3d(-5px, 83px, 35px); } }
  .see-more .fas {
    font-size: 15px !important;
    top: 0; }

.menu-full {
  transform: translate(0, 100%);
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #4c4c4c;
  z-index: 999999;
  color: #fff;
  box-sizing: border-box;
  -webkit-transition: transform 0s linear 0.2s, opacity 0.2s ease-in-out;
  -moz-transition: transform 0s linear 0.2s, opacity 0.2s ease-in-out;
  -ms-transition: transform 0s linear 0.2s, opacity 0.2s ease-in-out;
  -o-transition: transform 0s linear 0.2s, opacity 0.2s ease-in-out;
  transition: transform 0s linear 0.2s, opacity 0.2s ease-in-out; }
  .menu-full.opened {
    transform: translate(0, 0);
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    width: 110%;
    margin: -4.2em 0 0 -3em;
    color: white;
    position: fixed; }
    .menu-full.opened ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 6em auto;
      color: white; }
      .menu-full.opened ul li {
        height: 40px;
        font-size: 14pt;
        color: white; }
        .menu-full.opened ul li a {
          list-style: none;
          display: block;
          text-align: left;
          color: white;
          margin-left: 30px;
          text-transform: uppercase;
          font-family: "lato-black"; }

/*# sourceMappingURL=main.css.map */
